#controlsLayer {
    position: relative;
    display: block;
    margin-left: 50px;
    z-index: 1;
    pointer-events: none;
}

body {
    font-family: sans-serif;
}

body * {
    font-weight: 200;
}

#latForm,
#lngForm,
#searchForm,
#startForm,
#endForm,
#gridSizeSelect,
#similarityModeSelect,
#clearButton,
#groupCheckbox,
#group2Checkbox,
#intersectionCheckbox,
#setLatLngButton,
#includeButton,
#excludeButton,
#dispersionButton,
#parentButton,
#similarityCountButton {
    pointer-events: auto;
}

.checkBoxLabel,
.colorBox,
.checkBox {
    pointer-events: auto;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip 
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 135%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip 
.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover 
.tooltiptext {
    visibility: visible;
    opacity: 1;
}

.checkBoxLabel{
    box-sizing: border-box;
    display: inline-block;
    margin-top: 0px;
    margin-left: 1px;
    width: 12px;
    height: 12px;
    border: 1px solid white;   
    opacity: 50%; 
}

#boxes input[type=checkbox]{
    display: none;
}

#boxes input[type=checkbox]:checked + .checkBoxLabel{
    box-sizing: border-box;
    display: inline-block;
    margin-top: 0px;
    margin-left: 1px;
    width: 12px;
    height: 12px;
    border: 2px solid black;   
    opacity: 100%; 
}

.icon {
    max-width: 70%;
    max-height: 70%;
    margin: 4px;
  }