#mapLayer {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.leaflet-zoom-hide {
    position: absolute !important;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.leaflet-container {
    background: rgba(0, 0, 0, 0.8) !important;
}

.leaflet-tooltip {
    width: max-content !important;
    min-width: 50px !important;
    max-width: 280px !important;
    white-space: normal !important;
    display: block !important;
    word-break: keep-all !important;
    overflow-wrap: break-word !important;
}